<!DOCTYPE html>
<!--HEAD-->

<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:fragment="headstuff">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car Depot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
</head>
<body>

<!--END HEAD-->

<!--NAV BAR STUFF-->
<nav th:fragment="navbar"  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Car Depot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/addcategory">Add Category</a>
                    <a class="dropdown-item" href="/addcategory">View Categories</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="carDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Car
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/add">Add Car</a>
                    <a class="dropdown-item" href="/">View Cars</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--END NAV BAR STUFF-->

<!--CAR STUFF-->

<div th:fragment="car" class="card">
    <div class="card mb-3">
        <img th:src="${car.carpic}" class="card-img-top" alt="car picture">
        <div class="card-body">
            <h4 class="card-title" th:text="${car.manufacturer + ' ' + ' ' + car.model}"></h4>
            <p class="card-text" th:text="${'Year: ' + car.year}"></p>
            <p class="card-text" th:text="${'MSRP: ' + car.msrp}"></p>
            <p class="card-text" th:text="${'Category: ' + car.category.categoryName}"></p>
            <a class="card-link" th:href="@{/update/{id}(id=${car.id})}">Update</a>
            <a class="card-link" th:href="@{/detail/{id}(id=${car.id})}">Details</a>
            <a class="card-link" th:href="@{/delete/{id}(id=${car.id})}">Delete</a>
        </div>
    </div>

</div>

<!--END MESSAGE STUFF-->

<!--FOOTER STUFF-->

<footer th:fragment="foot" id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Car Depot 2019</small>
    </div>
</footer>

<!--END FOOTER STUFF-->

<!--JAVASCRIPT STUFF-->

<th:block th:fragment="jslinks">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</th:block>

<!--END JAVASCRIPT STUFF-->
</body>
</html>