<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headstuff">

</head>
<body>
<div class="container"><nav th:replace="base :: navbar"></nav>

    <br/>
    <h1>Add a Car</h1>

    <form action="#"
          th:action="@{/add}"
          th:object="${car}"
          method="post" enctype="multipart/form-data">

        <input type="hidden" th:field="*{id}" />

        Category:<select th:field="*{category}" class="form-control input-md">
        <option th:each="option: ${categories}"
                th:value="${option.id}">[[${option.categoryName}]]</option>
    </select><br/>

        Manufacturer :<input type="text" th:field="*{manufacturer}" class="form-control input-md"/>
        <span th:if="${#fields.hasErrors('manufacturer')}"
              th:errors="*{manufacturer}"></span><br/>

        Model :<input type="text" th:field="*{model}" class="form-control input-md"/>
        <span th:if="${#fields.hasErrors('model')}"
              th:errors="*{model}"></span><br/>

        Year :<input type="text" th:field="*{year}" class="form-control input-md"/>
        <span th:if="${#fields.hasErrors('year')}"
              th:errors="*{year}"></span><br/>

        MSRP :<input type="text" th:field="*{msrp}" class="form-control input-md"/>
        <span th:if="${#fields.hasErrors('msrp')}"
              th:errors="*{msrp}"></span><br/>

        <input type="file" name="file" class="form-control input-md"/><br/>

        <input type="submit" class="btn btn-primary mb-2" value="Submit" />
    </form>
    <br/>
    <nav th:replace="base :: foot"></nav>
    <th:block th:replace="base :: jslinks"></th:block>
</div>
</body>
</html>