<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headstuff">
</head>
<body>
<div class="container"><nav th:replace="base :: navbar"></nav>
    <br/>
    <h1>Add a Vehicle Category</h1>

    <form action="#"
          th:action="@{/processcategory}"
          th:object="${category}"
          method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{id}" />

            <input type="text" class="form-control" th:field="*{categoryName}" />

            <span th:if="${#fields.hasErrors('categoryName')}"
                  th:errors="*{categoryName}"></span><br/>

            <input type="submit" class="btn btn-primary mb-2" value="Submit" />
        </div>
    </form>

    <div class="row">
        <div class="col-md-3" th:each="category : ${categories}">
            <a th:text="${category.categoryName}"></a>
        </div>
    </div>
    <nav th:replace="base :: foot"></nav>
    <th:block th:replace="base :: jslinks"></th:block>
</div>
</body>
</html>